@model IEnumerable<ManagementSystem.Models.tb_batches>

@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Kemaskini Batch</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Senarai Batch</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                  


                    <br>
                    <button class="btn btn-outline-primary ">
                        @Html.ActionLink("Tambah Batch Baharu", "Create", new { style = "color: white" })
                    </button>
                    <hr>
                    <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>Kemaskini</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>

                                    <button class="btn btn-info ">
                                        @Html.ActionLink("Lihat Butiran", "Details", new { id = item.ID }, new { style = "color: white" })
                                    </button>
                                    <button class="btn btn-warning ">
                                        @Html.ActionLink("Kemaskini", "Edit", new { id = item.ID }, new { style = "color: white" })
                                    </button>


                                    <button class="btn btn-danger ">@Html.ActionLink("Padam", "Delete", new { id = item.ID }, new { style = "color: white" }) </button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
        </body>
