@model IEnumerable<ManagementSystem.Models.tb_user>

@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Kemaskini Pengguna</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Senarai Pengguna</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                    <h5>  Cari</h5>
                    <div class="input-group">
                        <input type="text" id="myInput" class="form-control bg-light border-0 small" onkeyup="myFunction()" placeholder="Sila masukkan no. kad pengenalan"
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>


                    <br>

                    @Html.ActionLink("Tambah Pengguna", "Create", null, new { @class = "btn btn-outline-primary" })

                    <hr>
                    <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IC)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Role)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Contact)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BatchID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tb_status.Description)
                                </th>
                                <th>Kemaskini</th>
                        </thead>
                        </tr>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IC)
                                    </td>

                                    <td>
                                        @if (item.Role == 1)
                                        {
                                            <p>Admin</p>
                                        }
                                        else
                                        {
                                            <p>Tutor</p>
                                        }
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Contact)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BatchID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_status.Description)
                                    </td>
                                    <td>
                                        <div class="col-sm-12">

                                            @Html.ActionLink("Lihat Butiran", "Details", null, new { id = item.ID }, new { @class = "btn btn-info" })


                                            @Html.ActionLink("Kemaskini", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" })

                                            @Html.ActionLink("Padam", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                                        </div>


                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <script>
                        function myFunction() {
                            var input, filter, table, tr, td, i, txtValue;
                            input = document.getElementById("myInput");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("myTable");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[1];
                                if (td) {
                                    txtValue = td.textContent || td.innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }
                    </script>

                    


                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>


