@model ManagementSystem.Models.tb_salary

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary">Maklumat Butiran Gaji</h6>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <div class="d-flex flex-row align-items-center h-50">
                    <h6 text-align="center" class="mr-auto align-self-center">
                        Butiran Maklumat
                    </h6>
                    @Html.ActionLink("Lihat Lampiran", "ViewAppendix", null, new { tid = Model.tb_user.ID, month = Model.month }, new { @target = "_blank", @class = "btn btn-outline-info" })
                    @if (Model.Status == "Dalam Proses")
                    {
                        <button class="btn btn-outline-primary text-right btn-sm mx-1 align-self-end" data-toggle="tooltip" data-placement="top" title="Sila sahkan gaji terlebih dahulu" disabled>Lihat Invois</button>
                    }
                    else
                    {
                        @Html.ActionLink("Lihat Invois", "ViewInvoice", null, new { id = ViewContext.RouteData.Values["id"] }, new { @target = "_blank", @class = "btn btn-outline-info" })
                    }

                </div>
              


                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.month)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.month)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tb_user.IC)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_user.IC)
                    </dd>

                </dl>
            </div>
            <br />
            <p>
               
                    @Html.ActionLink("Kemaskini", "Edit",null, new { id = Model.ID }, new { @class = "btn btn-warning" })
                

                @Html.ActionLink("Kembali ", "Index", null, new { @class = "btn btn-outline-primary" })

            </p>
        </div>
    </div>
</div>
