@model ManagementSystem.Models.tb_salary

@{
    ViewBag.Title = "Edit";
}

<style>
    .text-center {
        text-align: center;
    }
</style>
<body>
    <div class="container">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Kemaskini Butiran Gaji</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class=" col-lg-12">
                        <div class="d-flex flex-row align-items-center h-50">
                            <h6 text-align="center" class="mr-auto align-self-center">
                                Sila isi ruang bagi maklumat yang ingin dikemaskini
                            </h6>
                            @* <button class="btn btn-outline-primary text-right btn-sm mx-1 align-self-end">@Html.ActionLink("Lihat Lampiran", "ViewAppendix", null, new { tid = Model.tb_user.ID, month = Model.month }, new { @target = "_blank" })</button> *@
                           @Html.ActionLink("Lihat Lampiran", "ViewAppendix", new { tid =Model.tb_user.ID , month = Model.month }, new { @target = "_blank", @class = "btn btn-outline-info" })
                            @if (Model.Status == "Dalam Proses")
                            {
                                <button class="btn btn-outline-primary text-right btn-sm mx-1 align-self-end" data-toggle="tooltip" data-placement="top" title="Sila sahkan gaji terlebih dahulu" disabled>Lihat Invois</button>
                            }
                            else
                            {
                                @Html.ActionLink("Lihat Invois", "ViewInvoice", new { id = ViewContext.RouteData.Values["id"] }, new { @target = "_blank", @class = "btn btn-outline-info" })
                            }
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="row">
                            <div class="col-md-6 col-md-1">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.TutorID, "No Kad Pengenalan Tutor", htmlAttributes: new { @class = "control-label col-md-7" })
                                    <div class="col-md-12">
                                        @Html.DropDownList("TutorID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TutorID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-1">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-1">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.month, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-12">
                                        <select name="month" id="month" class="form-control">
                                            <option value="1">Januari</option>
                                            <option value="2">Februari</option>
                                            <option value="3">Mac</option>
                                            <option value="4">April</option>
                                            <option value="5">Mei</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Julai</option>
                                            <option value="8">Ogos</option>
                                            <option value="9">September</option>
                                            <option value="10">Oktober</option>
                                            <option value="11">November</option>
                                            <option value="12">Dicember</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.month, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @Html.HiddenFor(model => model.Amount)
                            <div class="col-md-3 col-md-1">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-10">
                                        <select id="Status" name="Status" class="form-control">
                                            <option value="" disabled>-- Pilih Status --</option>
                                            <option value="Selesai" selected>Selesai</option>
                                            <option value="Tidak Selesai">Tidak Selesai</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="text-center">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Simpan" class="btn btn-success" text-align="center" />
                                        @Html.ActionLink("Kembali", "Index", null, new { @class = "btn btn-outline-primary" })
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                        }

                        
                    </div>
                </div>
                </div>
        </div>
</body>
