@model IEnumerable<ManagementSystem.Models.tb_salary>

@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Kemaskini Butiran Gaji</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Senarai Butiran Gaji</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                 


                    <br>
                    @Html.ActionLink("Tambah Butiran Gaji", "Create", null, new { @class = "btn btn-outline-primary" })
                    
                    @Html.ActionLink("Jana Gaji Bulan Ini", "GenerateAllSalary", null, new { @class = "btn btn-outline-info" })


                    <hr>
                    <table class="table table-bordered" id="example1" width="100%" cellspacing="0">
                        <tr>
                        <thead class="text-center">
                        <th style="width:15%" class="align-middle">
                            @Html.DisplayNameFor(model => model.tb_user.Name)
                        </th>
                        <th style="width:8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.tb_user.IC)
                        </th>

                        <th style="width:8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th style="width:8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.month)
                        </th>
                        <th style="width:8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.Status) Pembayaran
                        </th>
                        <th style="width:9%" class="align-middle">
                            @Html.DisplayNameFor(model => model.Date)
                        </th>

                        <th style="width:23%" class="align-middle">Tindakan</th>

                              
                            </tr>
                        </thead>
                       
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.tb_user.Name)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.tb_user.IC)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.month )
                                </td>
                                <td>
                                    <h5>
                                        @if (item.Status.Trim() == "Selesai")
                                        {
                                            <span class="badge badge-secondary ">@item.Status</span>
                                        }
                                        else if (item.Status.Trim() == "Dalam Proses")
                                        {
                                            <span class="badge badge-success">@item.Status</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-primary">@item.Status</span>
                                        }
                                    </h5>
                                   

                                    @*<span class="badge" id="badgeId">@item.Status</span>*@
                                    @*@Html.DisplayFor(modelItem => item.Status)*@
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.Date, new { @class = "col-md-5"})
                                </td>

                                    <td>



                                    @Html.ActionLink("Lihat Butiran", "Details", null, new { id = item.ID }, new { @class = "btn btn-info my-1" })


                                    @Html.ActionLink("Kemaskini", "Edit", null, new { id = item.ID }, new { @class = "btn btn-warning my-1" })

                                    @Html.ActionLink("Padam", "Delete", null, new { id = item.ID }, new { @class = "btn btn-danger my-1" })
                                    @*<button class="btn btn-outline-success my-1">@Html.ActionLink("Lihat Invois", "ViewInvoice", null, new { id = item.ID }, new { @target = "_blank" }) </button>*@
                                </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <script>
                        //function myFunction() {
                        //    var input, filter, table, tr, td, i, txtValue;
                        //    input = document.getElementById("myInput");
                        //    filter = input.value.toUpperCase();
                        //    table = document.getElementById("myTable");
                        //    tr = table.getElementsByTagName("tr");
                        //    for (i = 0; i < tr.length; i++) {
                        //        td = tr[i].getElementsByTagName("td")[1];
                        //        if (td) {
                        //            txtValue = td.textContent || td.innerText;
                        //            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        //                tr[i].style.display = "";
                        //            } else {
                        //                tr[i].style.display = "none";
                        //            }
                        //        }
                        //    }
                        //}

                        function badgeColor() {
                            let el = document.getElementById("badgeId");
                            console.log(el);
                            let text = el.trim();
                            console.log(text);
                            if (text == "Selesai") {
                                text.className = "badge badge-success";
                            } else if (text == "Dalam Proses") {
                                text.className = "badge badge-warning";
                            } else {
                                text.className = "badge badge-primary";
                            }
                        }
                        document.getElementById("badgeId").onload = badgeColor();
                    </script>

                </div>
            </div>
        </div>
    </div>
</body>

@*@functions{
    public string badgeColor(string status)
    {

        switch (status.Trim())
        {
            case "Dalam Proses":
                return "badge badge-warning";
                break;
            case "Selesai":
                return "badge badge-success";
                break;
            default:
                return "badge badge-primary";
        }
    }
}*@



