@model IEnumerable<ManagementSystem.Models.tb_salary>

@{
    ViewBag.Title = "Index";
}
<head>
    <title>test</title>
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>



</head>

<body>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Kemaskini Butiran Gaji</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Senarai Butiran Gaji</h6>
            </div>

            <div class="card-body">
                <div class="table">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["AlertMessage"]
                        </div>

                    }
                    @Html.ActionLink("Tambah Butiran Gaji", "Create", null, new { @class = "btn btn-outline-primary" })

                    @Html.ActionLink("Jana Semua Gaji Bulan Ini", "GenerateAllSalary", null, new { @class = "btn btn-outline-info" })


                    <hr>
                    <table class="table table-bordered" id="exampleB" width="100%" cellspacing="0">
                        <thead class="text-center">
                            <tr>

                                <th style="width:15%" class="align-middle">
                                    @Html.DisplayNameFor(model => model.tb_user.Name)
                                </th>
                                <th style="width:8%" class="align-middle">
                                    @Html.DisplayNameFor(model => model.tb_user.IC)
                                </th>

                                <th style="width:8%" class="align-middle">
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                                <th style="width:8%" class="align-middle">
                                    @Html.DisplayNameFor(model => model.month)
                                </th>
                                <th style="width:8%" class="align-middle">
                                    @Html.DisplayNameFor(model => model.Status) Pembayaran
                                </th>
                                <th style="width:9%" class="align-middle">
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>

                                <th style="width:23%" class="align-middle">Tindakan</th>


                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_user.Name)
                                    </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.tb_user.IC)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.month)
                                    </td>
                                    <td>
                                        <h5>
                                            @if (item.Status.Trim() == "Selesai")
                                            {
                                                <span class="badge badge-secondary ">@item.Status</span>
                                            }
                                            else if (item.Status.Trim() == "Dalam Proses")
                                            {
                                                <span class="badge badge-success">@item.Status</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-primary">@item.Status</span>
                                            }
                                        </h5>


                                        @*<span class="badge" id="badgeId">@item.Status</span>*@
                                        @*@Html.DisplayFor(modelItem => item.Status)*@
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.Date, new { @class = "col-md-5" })
                                    </td>

                                    <td>



                                        @Html.ActionLink("Lihat Butiran", "Details", null, new { id = item.ID }, new { @class = "btn btn-info my-1" })


                                        @Html.ActionLink("Kemaskini", "Edit", null, new { id = item.ID }, new { @class = "btn btn-warning my-1" })

                                        @Html.ActionLink("Padam", "Delete", null, new { id = item.ID }, new { @class = "btn btn-danger my-1" })
                                        @*<button class="btn btn-outline-success my-1">@Html.ActionLink("Lihat Invois", "ViewInvoice", null, new { id = item.ID }, new { @target = "_blank" }) </button>*@
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <script>
                        //function myFunction() {
                        //    var input, filter, table, tr, td, i, txtValue;
                        //    input = document.getElementById("myInput");
                        //    filter = input.value.toUpperCase();
                        //    table = document.getElementById("myTable");
                        //    tr = table.getElementsByTagName("tr");
                        //    for (i = 0; i < tr.length; i++) {
                        //        td = tr[i].getElementsByTagName("td")[1];
                        //        if (td) {
                        //            txtValue = td.textContent || td.innerText;
                        //            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        //                tr[i].style.display = "";
                        //            } else {
                        //                tr[i].style.display = "none";
                        //            }
                        //        }
                        //    }
                        //}

                        function badgeColor() {
                            let el = document.getElementById("badgeId");
                            console.log(el);
                            let text = el.trim();
                            console.log(text);
                            if (text == "Selesai") {
                                text.className = "badge badge-success";
                            } else if (text == "Dalam Proses") {
                                text.className = "badge badge-warning";
                            } else {
                                text.className = "badge badge-primary";
                            }
                        }
                        document.getElementById("badgeId").onload = badgeColor();
                    </script>

                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#exampleA').DataTable({
            dom: 'Bfrtip',
            "searching": true,
            "paging": true,
            "order": [[0, "desc"]],
            "ordering": true,
            "columnDefs": [{
                "targets": [3],
                "ordertable":false

            }],
           
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<script>
    $('#exampleB').DataTable({
        order: [[0, 'desc']],
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                title: "Rekod Kesuluruhan Gaji Tutor",
                exportOptions:
                {
                    columns: [0, 1, 2, 3, 4, 5],
                    
                }
            },
            {
                extend: 'csvHtml5',
                title: "Rekod Kesuluruhan Gaji Tutor",
                exportOptions:
                {
                    columns: [0, 1, 2, 3, 4, 5],
                    
                }
            },
            {
                extend: 'pdfHtml5',
                title: "Rekod Kesuluruhan Gaji Tutor",
                exportOptions:
                {
                    columns: [0, 1, 2, 3, 4, 5],
                    title: "Rekod Kesuluruhan Gaji Tutor"
                }
            },]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
</script>

@*@functions{
        public string badgeColor(string status)
        {

            switch (status.Trim())
            {
                case "Dalam Proses":
                    return "badge badge-warning";
                    break;
                case "Selesai":
                    return "badge badge-success";
                    break;
                default:
                    return "badge badge-primary";
            }
        }
    }*@



