@model ManagementSystem.Models.tb_salary
@{
    ViewBag.Title = "ViewInvoice";
    Layout = "";

}

@functions{
    public string CetakBulan(int nombor){
        switch(nombor){
            case 1:
                return "Januari";
                break;
            case 2:
                return "Februari";
                break;
            case 3:
                return "Mac";
                break;
            case 4:
                return "April";
                break;
            case 5:
                return "Mei";
                break;
            case 6:
                return "Jun";
                break;
            case 7:
                return "Julai";
                break;
            case 8:
                return "Ogos";
                break;
            case 9:
                return "September";
                break;
            case 10:
                return "Oktober";
                break;
            case 11:
                return "November";
                break;
            case 12:
                return "Disember";
                break;
            default:
                return "";
        }
    }
}
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Management System</title>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">


</head>

<body>

 
    <div class="container py-5 bg-white">
        
        <div class="row justify-content-end pb-5">

            <div class="well col-xs-10 col-sm-10 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <button onclick="window.print()"><i style="font-size:24px" class="fa">&#xf02f;</i></button>
            </div>

        </div>

        <div class="row justify-content-center pb-5">
            <img src="~/Content/logo.png" width="200" height="150" class="img" alt="Responsive image">
        </div>
        <div class="row justify-content-center">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>MengajiOneToOne</strong>
                            <br>No 7 Lorong Mewah 11, <br>
                            Bandar Tun Razak, Cheras, <br>
                            56000, Kuala Lumpur.<br>
                            Telefon: +60 11-5978 0670
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>@Html.DisplayFor(model => model.Date)</em>
                        </p>
                        <p>
                            <em>Resit #: @Html.DisplayFor(model => model.ID)</em>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="text-center">
                        <h3>INVOIS</h3>
                        <p><strong>Bulan @CetakBulan((int)Model.month)</strong></p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            Nama: @Html.DisplayFor(model => model.tb_user.Name) <br>
                            IC: @Html.DisplayFor(model => model.tb_user.IC)<br>
                            Tarikh (Pembayaran):@Html.DisplayFor(model => model.Date)
                        </address>
                    </div>

                </div>
                <div class="row justify-content-center py-3">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Penerangan</th>
                                <!-- <th>#</th>
                            <th class="text-center">Price</th> -->
                                <th class="text-center">Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>Elaun Tutor</em></h4></td>
                                <!-- <td class="col-md-1" style="text-align: center"> 2 </td>
                            <td class="col-md-1 text-center">$13</td> -->
                                <td class="col-md-1 text-center">RM @Html.DisplayFor(model => model.Amount)</td>
                            </tr>

                            </tr>
                            <!-- <tr>
                            <td class="text-right">
                            <p>
                                <strong>Jumlah: </strong>
                            </p>
                            <p>
                                <strong>Tax: </strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong>$6.94</strong>
                            </p>
                            <p>
                                <strong>$6.94</strong>
                            </p></td>
                        </tr> -->
                            <tr>
                                <!-- <td>   </td>
                            <td>   </td> -->
                                <td class="text-right"><h6><strong>Jumlah Kesuluruhan: </strong></h6></td>
                                <td class="text-left"><h6><strong>RM @Html.DisplayFor(model => model.Amount)</strong></h6></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-muted">Perkara berkaitan dengan pengiraan elaun tutor boleh dirujuk dalam lampiran gaji. </p>
                    </div>
                </div>
                <div class="row justify-content-center py-3">
                    <footer class="text-center text-muted">
                        Resit ini Dijana pada @DateTime.Now secara automatik, tiada tandatangan diperlukan
                    </footer>
                </div>
            </div>

        </div>
    </div>


</body>
