@model ManagementSystem.Models.tb_class

@{
    ViewBag.Title = "Delete";
    var w = (Model.StartTime + TimeSpan.FromMinutes(Model.Duration));

    var wt = Convert.ToDateTime(w.ToString(), System.Globalization.CultureInfo.GetCultureInfo("en-US"));
    var h = wt.Hour;
    var m = wt.Minute;
    var waktuTamat = wt.ToString("HH:mm");
}

<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary">Padam Kelas</h6>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <h6 text-align="center">Butiran Maklumat</h6>

                <hr>
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.tb_student.Name)*@ Nama Pelajar
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_student.Name)
                    </dd>
                    <dt>
                        @*@Html.DisplayNameFor(model => model.Date)*@ Tarikh Kelas
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        Waktu Kelas
                        @*@Html.DisplayNameFor(model => model.Duration)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime) - @waktuTamat
                    </dd>


                    <dt>
                        @*@Html.DisplayNameFor(model => model.Duration)*@ Durasi
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Duration)
                    </dd>


                    <dt>
                        @*@Html.DisplayNameFor(model => model.tb_package.Name)*@ Nama Pakej
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_package.Name)
                    </dd>


                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="form-actions no-color">
                        <input type="submit" value="Padam" class="btn btn-danger" />
                        <button class="btn btn-outline-primary">
                            @Html.ActionLink("Kembali ke Utama", "Index", new { style = "color: white" })
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>