@model ManagementSystem.Models.tb_class

@{
    ViewBag.Title = "Details";

    var w = (Model.StartTime + TimeSpan.FromMinutes(Model.Duration));
    var waktuTamat = "";

    if (w.HasValue)
    {
        var wt = Convert.ToDateTime(w.ToString(), System.Globalization.CultureInfo.GetCultureInfo("en-US"));
        var h = wt.Hour;
        var m = wt.Minute;
        waktuTamat = wt.ToString("HH:mm");

    }
    else
    {
        waktuTamat = "";
    }


    //var waktuTamat = DateTime.ParseExact(w, "HH:m", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None);

    //var hm = new DateTime

    //string sqlFormattedDate = waktuTamat.HasValue ? waktuTamat.Value.ToString("HH:mm:ss") : "<not available>";

    //string format = "HH:mm:ss";
    //string eventdatetime = waktuTamat.ToString();
    //DateTime x = DateTime.ParseExact(eventdatetime, format,
    //                                 CultureInfo.InvariantCulture);

    //var display = x.ToString("yyyy.MM.dd HH:mm:ss:ffff");

}

<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary">Maklumat Kelas</h6>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <h6 text-align="center">Butiran Maklumat</h6>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nama Penuh Pelajar
                        @*@Html.DisplayNameFor(model => model.tb_student.Name, "Nama Pelajar")*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_student.Name)
                    </dd>
                    <dt>
                        Tarikh
                        @*@Html.DisplayNameFor(model => model.Date)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        Durasi
                        @*@Html.DisplayNameFor(model => model.Duration)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Duration) minit
                    </dd>

                    <dt>
                        Waktu Kelas
                        @*@Html.DisplayNameFor(model => model.Duration)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime) - @waktuTamat
                    </dd>


                    <dt>
                        Pakej
                        @*@Html.DisplayNameFor(model => model.tb_package.Name)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_package.Name)
                    </dd>

                    <dt>
                        Keterangan
                        @*@Html.DisplayNameFor(model => model.tb_package.Name)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    @*<dt>
                            @Html.DisplayNameFor(model => model.tb_user.IC)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tb_user.IC)
                        </dd>*@


                </dl>
            </div>
            <p>
                <button class="btn btn-warning ">
                    @Html.ActionLink("Kemaskini", "Edit", new { id = Model.ID }, new { style = "color: white" })
                </button>

                <button class="btn btn-outline-primary">
                    @Html.ActionLink("Kembali", "Index", new { style = "color: white" })
                </button>

            </p>
        </div>
    </div>
