@model IEnumerable<ManagementSystem.Models.tb_student>

@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Kemaskini Pelajar</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Senarai Pelajar</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">

                    @if (TempData["AlertMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["AlertMessage"]
                        </div>

                    }

                    @Html.ActionLink("Tambah Pelajar", "Create", null, new { @class = "btn btn-outline-primary" })

                    <hr>
                    <table class="table table-bordered" id="example1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IC)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RefNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BatchID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tb_package.Name)
                                </th>
                                <th>Kemaskini</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.IC)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RefNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BatchID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_package.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Lihat Butiran", "Details", null, new { id = item.ID }, new { @class = "btn btn-info" })


                                        @Html.ActionLink("Kemaskini", "Edit", null, new { id = item.ID }, new { @class = "btn btn-warning" })

                                        @Html.ActionLink("Padam", "Delete", null, new { id = item.ID }, new { @class = "btn btn-danger" })
                                       @Html.ActionLink("Lihat Laporan", "ViewReport",null, new { id = item.ID }, new { @target = "_blank", @class = "btn btn-outline-success" }) 
                                    </td>

                                </tr>


                            }
                        </tbody>

                    </table>
                    <script>
                        function myFunction() {
                            var input, filter, table, tr, td, i, txtValue;
                            input = document.getElementById("myInput");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("myTable");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[1];
                                if (td) {
                                    txtValue = td.textContent || td.innerText;
                                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>