@model ManagementSystem.Models.tb_performance

@{
    ViewBag.Title = "Create";
}
<style>
    .text-center {
        text-align: center;
    }
</style>

<body>
    <div class="container">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Tambah Prestasi Pelajar</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                    <h6 text-align="center">Sila isi maklumat berikut</h6>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group" style="display:none">
                        @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DateCreated, new { @Value = @DateTime.Now.ToShortDateString(), htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentID, "Nama Pelajar", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.StudentID, ViewBag.StudentID as SelectList, "--Pilih Pelajar--", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ratingStudent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select id="ratingStudent" name="ratingStudent" class="form-control">
                                <option value="">-- Nilai Untuk Pelajar --</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.ratingStudent, "", new { @class = "text-danger" })
                        </div>
                    </div>

                  



                    <div class="text-center">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Simpan" class="btn btn-success" text-align="center" />
                            </div>
                        </div>
                    </div>
                </div>
                    }


                </div>
                <div>

                    <button class="btn btn-outline-primary ">
                        @Html.ActionLink("Kembali", "Index")
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>