@model ManagementSystem.Models.tb_performance

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary">Maklumat Prestasi Pelajar</h6>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <h6 text-align="center">Butiran Maklumat</h6>

                <hr />
                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayNameFor(model => model.tb_student.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tb_student.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Remark)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ratingStudent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ratingStudent)
                    </dd>

                </dl>
            </div>
            <p>
                
                    @Html.ActionLink("Kemaskini", "Edit",null, new { id = Model.ID }, new { @class = "btn btn-warning" })
               

               
                    @Html.ActionLink("Kembali", "Index",null, new { @class = "btn btn-outline-primary" })
               

            </p>
        </div>
    </div>
</div>
