@model ManagementSystem.Models.tb_performance

@{
    ViewBag.Title = "Edit";
}
<style>
    .text-center {
        text-align: center;
    }
</style>
<body>
    <div class="container">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Kemaskini Prestasi Pelajar</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                    <h6 text-align="center">Sila isi maklumat berikut</h6>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.DateCreated)

                 



                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ratingStudent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select id="ratingStudent" name="ratingStudent" class="form-control" value="@Model.ratingStudent">
                                <option> @Html.DisplayFor(model => model.ratingStudent) (terkini) </option>                               
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.ratingStudent, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Simpan" class="btn btn-success" text-align="center" />
                            </div>
                        </div>
                    </div>
                </div>
                    }

                    
                        @Html.ActionLink("Kembali", "Index", null,new { @class = "btn btn-outline-primary" })
                    
                </div>
            </div>
        </div>
</body>