@model IEnumerable<ManagementSystem.Models.tb_performance>

@{
    Layout = "";
    ViewBag.Title = "Index";
}
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Management System</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">


</head>
<body>

    <div class="container py-5 bg-white">

        <div class="row justify-content-end pb-5">
            
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Lihat Prestasi Pelajar</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">

                            <h6 class="m-0 font-weight-bold text-primary">Senarai Pelajar Dengan Prestasi</h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">


                                <h5>  Cari</h5>
                                <div class="input-group">
                                    <input type="text" id="myInput" class="form-control bg-light border-0 small" onkeyup="myFunction()" placeholder="Sila masukkan no kad pengenalan pelajar"
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" name="search">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>


                                <br>

                                <hr>
                                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tb_student.IC)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.tb_student.Name)
                                        </th>
                                        <th>Lihat</th>
                                     


                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_student.IC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_student.Name)
                                    </td>
                                    <td>
                                        <button class="btn btn-info ">
                                            @Html.ActionLink("Lihat Prestasi", "ViewPerDetails", new { id = item.ID }, new { style = "color: white" })
                                        </button>
                                    </td>

                                </tr>
                                    }

                                </table>

                                <script>
                                    function myFunction() {
                                        var input, filter, table, tr, td, i, txtValue;
                                        input = document.getElementById("myInput");
                                        filter = input.value.toUpperCase();
                                        table = document.getElementById("myTable");
                                        tr = table.getElementsByTagName("tr");
                                        for (i = 0; i < tr.length; i++) {
                                            td = tr[i].getElementsByTagName("td")[0];
                                            if (td) {
                                                txtValue = td.textContent || td.innerText;
                                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                                    tr[i].style.display = "";
                                                } else {
                                                    tr[i].style.display = "none";
                                                }
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
</body>
